
<footer class="footer">
  <div class="footer-container">
    <div class="footer-section about">
      <h2>About Us</h2>
      <p>We are a team of passionate developers committed to creating the best web experiences for our users.</p>
    </div>
    <div class="footer-section links">
      <h2>Quick Links</h2>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="footer-section contact">
      <h2>Contact Us</h2>
      <p>Email: Luigifravasile&#64;gmail.com</p>
      <p>Telefono: +39 331 996 5083</p>
      <p>Città: C/mare del Golfo (TP)</p>
      <p>Indirizzo: Via Discesa Marina, 15   </p>
    </div>
    <div class="footer-section social">
      <h2>Follow Us</h2>
      <a href="https://www.facebook.com/luigi.vasile1"><img width="30" src=Logo_Facebook.webp alt="Facebook"> </a>
      <a href="https://www.instagram.com/luigi.vasile?igsh=MTYwMmRwdXdxdnIyOQ=="><img width="30" src=Logo_Instagram.webp alt="Instagram"></a>
      <a href="#"><img width="38" src=Logo_Linkedin.webp alt="Linkedin"></a>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; 2024 Luigi Francesco Vasile
  </div>
</footer>

