
<div class="auth-form" >
  <h4>Modifica la tua password!</h4>
  <form (ngSubmit)="OnSubmit(form)" #form=ngForm >
    <div class="form-group" >
      <label for="email">Email:</label>
      <input [(ngModel)]="this.modificaPassword.email" name="email" type="email" id="email" class="form-control"  placeholder="Email@email.com" required  #email=ngModel />
      <span class="error" *ngIf="!email.valid && email.touched" > Email non valida</span>
    </div>
    <div class="form-group" >
      <label for="vecchia">Vecchia Password</label>
      <input [(ngModel)]="this.modificaPassword.vecchiaPassword" name="vecchia" type="password" id="vecchia" class="form-control"  required minlength="1" #vecchia=ngModel />
      <span *ngIf="!vecchia.valid && vecchia.touched"></span>
    </div>
    <div class="form-group">
      <label for="nuova">Nuova password</label>
      <input [(ngModel)]="this.modificaPassword.password" name="nuova" type="password" id="nuova" class="form-control"  required  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{6,30}$" #password=ngModel />
      <span *ngIf="!password.valid && password.touched"> Inserire almeno 6 caratteri, una maiuscola, una minuscola e un carattere speciale</span>
    </div>
    <br>
    <button [disabled]="!form.valid || errore" type="submit" class="btn btn-primary"  >Modifica</button>
    <br  *ngIf=" this.errore && vecchia.touched && email.touched">
    <span *ngIf=" this.errore && vecchia.touched && email.touched"> Credenziali errate</span>
  </form>
</div>

